version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: always
    volumes:
      - frontend-dist:/usr/share/nginx/html
  backend:
      build:
        context: ./backend
        dockerfile: Dockerfile
      restart: always
      ports:
        - "3000:3000"
      environment:
        - NODE_ENV=production
      volumes:
        - backend-data:/app/data
  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - frontend-dist:/user/shae/nginx/html
    depends_on:
      - frontend
      - backend

volumes:
  frontend-dist:
  backend-data:
